.service_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.services{
   background-color: var(--color-bg-varient);
   border-radius:0 0 2rem 2rem ;
   border: 1px solid var(--color-primary);
   height:fit-content;
   transition: var(--transition);
}

.services:hover{
    background: transparent;
    border-color: var(--color-primary-varient);
    cursor: default;
}

.service_head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service_head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service_list{
    padding: 2rem;
}

.service_list li{
    display: flex;
    gap: 1rem;
    margin-top: 0.8rem;
}

.service_list-icon{
    color-scheme: var(--color-primary);
    margin-top: 2px;

}

.service_list p{
    font-size: 0.9rem;
}
/* ############################ MediaQuery(Medium devices) #########################################*/
@media screen and (max-width:1024px) {
    .service_container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .services{
        height: auto;
    }
}

/* ############################ MediaQuery(small devices) #########################################*/
@media screen and (max-width:600px) {
    .service_container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

}